/output/*
/.idea
/nonebot_plugin_splatoon3_schedule/resource/db/control.db
__pycache__/
/__init__.py
/nonebot_plugin_splatoon3_schedule/weapon_trans_dict.txt
/test_json/
/build/
/dist/
/nonebot_plugin_splatoon3_schedule.egg-info/
/setup.py
MANIFEST.in
/venv/
/poetry.lock
/nonebot_plugin_splatoon3_schedule/resource/ImageData/backups/
/nonebot_plugin_splatoon3_schedule/resource/weapon_match/qdrant/.lock
