/output/*
/.idea
/nonebot_plugin_splatoon3_schedule/data/db/control.db
/nonebot_plugin_splatoon3_schedule/__pycache__
/__init__.py
/nonebot_plugin_splatoon3_schedule/weapon_trans_dict.txt
/test_json/
/build/
/dist/
/nonebot_plugin_splatoon3_schedule.egg-info/
/setup.py
MANIFEST.in
/venv/
/poetry.lock
!/tests/
